<!DOCTYPE html>
<html>
  <head>
    <title> reelyActive Dashboard Template </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/bubble.css">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.2/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.0/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
    <script type="text/javascript" src="js/socket.min.js"></script>
    <script type="text/javascript" src="js/beaver.js"></script>
    <script type="text/javascript" src="js/cormorant.js"></script>
    <script type="text/javascript" src="js/bubble.js"></script>
    <script type="text/javascript" src="js/cuttlefish.js"></script>
    <script type="text/javascript" src="js/dashboard.js"></script>
  </head>
  <body ng-app="dashboard">
	  <div ng-controller="DashCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://context.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href> Dashboard Template </a></li>
          </ul>
        </div>
      </nav>
      <!----- BEGIN CONTENT SECTION ----------------------------------------->
      <div class="container-fluid">
        <!----- beaver.js --------------------------------------------------->
        <div class="row">
          <div class="col-md-2">
            <a href="https://github.com/reelyactive/beaver" target="_blank">
              <img class="img-responsive" src="images/beaver-bubble.png">
            </a>
          </div>
          <div class="col-md-3">
            <!----- STATISTICS ---------------------------------------------->
            <!-- You have access to a variable called stats which has four -->
            <!-- properties: appearances, displacements, keepalives and    -->
            <!-- displacements.  Each is an integer.                       -->
            <!--------------------------------------------------------------->
            <table class="table">
              <caption> REAL-TIME STATISTICS </caption>
              <thead>
                <tr>
                  <th> Event </th>
                  <th> Occurences </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> appearances </td>
                  <td> {{stats.appearances}} </td>
                </tr>
                <tr>
                  <td> displacements </td>
                  <td> {{stats.displacements}} </td>
                </tr>
                <tr>
                  <td> keep-alives </td>
                  <td> {{stats.keepalives}} </td>
                </tr>
                <tr>
                  <td> disappearances </td>
                  <td> {{stats.disappearances}} </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-7">
            <!----- EVENTS -------------------------------------------------->
            <!-- In dashboard.js, we created an array called events which  -->
            <!-- includes the n most recent events.  Each event has two    -->
            <!-- properties: type and tiraid.                              -->
            <!--------------------------------------------------------------->
            <table class="table table-hover">
              <caption> REAL-TIME EVENT STREAM </caption>
              <thead>
                <tr>
                  <th> Transmitter ID </th>
                  <th> Event </th>
                  <th> Receiver ID/directory </th>
                  <th> RSSI </th>
                  <th> Timestamp </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(id, event) in events">
                  <td> <tt> {{event.deviceId}} </tt> </td>
                  <td> {{event.event}} </td>
                  <td>
                    <tt>
                      {{event.receiverDirectory || event.receiverId}}
                    </tt>
                  </td>
                  <td> {{event.rssi}} </td>
                  <td> {{event.time}} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!----- cormorant.js ------------------------------------------------>
        <div class="row">
          <div class="col-md-2">
            <a href="https://github.com/reelyactive/cormorant" target="_blank">
              <img class="img-responsive" src="images/cormorant-bubble.png">
            </a>
          </div>
          <div class="col-md-5">
            <!----- STORIES ------------------------------------------------->
            <!-- You have access to a variable called stories which has    -->
            <!-- URLs as properties.  The URLs are associated with         -->
            <!-- devices.  The JSON fetched from the URL is included.      -->
            <!--------------------------------------------------------------->
            <div style="height:320px; overflow:auto">
              <table class="table table-hover">
                <caption> STORIES ASSOCIATED WITH DEVICES </caption>
                <thead>
                  <tr>
                    <th> URL </th>
                    <th> Select </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(url, story) in stories">
                    <td> <a ng-href="{{url}}" target="_blank">{{url}}</a> </td>
                    <td>
                      <button type="button" class="btn btn-xs"
                              ng-class="url === selectedUrl ? 'btn-info' :
                                                              'btn-default'"
                              ng-click="selectStory(url)"> JSON </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-5">
            <div style="height:320px; overflow:auto">
              <table class="table table-hover">
                <caption> SELECTED STORY </caption>
              </table>
              <pre> {{selectedStory}} </pre>
            </div>
          </div>
        </div>
        <!----- cuttlefish.js ----------------------------------------------->
        <div class="row">
          <div class="col-md-2">
            <a href="https://github.com/reelyactive/cuttlefish"
               target="_blank">
              <img class="img-responsive" src="images/cuttlefish-bubble.png">
            </a>
          </div>
          <div class="col-md-10">
            <!----- RENDERING ----------------------------------------------->
            <!-- Rendering a story simply requires the bubble directive.   -->
            <!-- Specify the story (JSON) source and the size.             -->
            <!--------------------------------------------------------------->
            <table class="table table-hover">
              <caption> RENDERING OF STORIES </caption>
            </table>
            <div class="well blue" style="height:340px; overflow:auto">
              <div ng-repeat="(url, story) in stories"
                   style="float:left; height:340px; width:340px">
                <bubble json="story" size="240px" toggle="true"></bubble>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!----- END CONTENT SECTION ----------------------------------------->
      <footer class="footer">
        <a href="https://github.com/reelyactive/dashboard-template-angular">
          dashboard-template-angular
        </a>
        &nbsp; | &nbsp;
        <a href="http://context.reelyactive.com"
           tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2016
        </a>
      </footer>
    </div>
  </body>
</html>
